@model IEnumerable<MusicShop.Models.Order>

@{
    ViewData["Title"] = "Заказы";
}

<h1>Сведения о заказах</h1>

<div class="d-lg-flex">
    <a class="btn btn-primary ms-0 m-2" asp-action="Create">Оформить заказ</a>
    <a class="btn btn-dark m-2" asp-action="SalesReport">Печать отчёта продаж</a>
    <a class="btn btn-secondary m-2" asp-controller="Home" asp-action="Index">Вернуться на главную</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Номер заказа
            </th>
            <th>
                Код клиента
            </th>
            <th>
                Статус
            </th>
            <th>
                Стоимость
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalCost)
                </td>
                <td class="btn-group" role="group">
                    <a class="btn btn-outline-dark" asp-action="Edit" asp-route-id="@item.Id">Изменить</a>
                    <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id">Подробнее</a>
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Отменить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
