@model IEnumerable<MusicShop.Models.Product>

@{
    ViewData["Title"] = "Каталог";
}

<h1>Каталог товаров</h1>

<div>
    <a class="btn btn-primary ms-0 m-2" asp-action="Create">Добавить товар</a>
    <a class="btn btn-secondary m-2" asp-controller="Home" asp-action="Index">Вернуться на главную</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Артикул
            </th>
            <th>
                Наименование
            </th>
            <th>
                Тип товара
            </th>
            <th>
                Цена, у.е.
            </th>
            <th>
                Кол-во
            </th>
            <th>
                В продаже
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type.Name)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td class="text-center">
                @((item.IsDeleted) ? "Нет" : "Да")
            </td>
            <td class="btn-group" role="group">
                <a class="btn btn-outline-dark" asp-action="Edit" asp-route-id="@item.Id">Изменить</a>
                <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id">Подробнее</a>
                <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
        }
    </tbody>
</table>
